<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>demo1</servlet-name>
        <servlet-class>com.wsx.web.Servlet.demo1</servlet-class>

<!--指定Servlet的创建时机
    有两种方法  在第一次访问的时候被创建  或者在服务器启动的时候创建
    <load-on-startup></load-on-startup>
    接受0或者正整数，一般配置0到10之间
-->

    </servlet>

    <servlet-mapping>
        <servlet-name>demo1</servlet-name>
        <url-pattern>/demo1</url-pattern>
    </servlet-mapping>
</web-app>